<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误</title>
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <style>
        .help-icon-size {
            font-size: 30px;
        }

        * {
            margin: 0;
        }

        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="layui-container" style="display: flex;justify-content: center;align-items: center;height: 100%">
    <div>
        <h2 class="help-icon-size">错误</h2>
    </div>
</div>
</body>
</html>